span {
  font-size: 25px;
}


dialog {
  /* animation: appear 350ms ease-in-out 1; */
  max-width: 500px;
  background: #fafafa;
  z-index: 99;
}


.tbutton,
tbutton,
input[type="tbutton"] {
  display: inline-block;
  /* height: 55px; */
  height: 55px; */
  padding: 0 15px;
  width: 8vw;
  color: #777;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.tbutton:hover,
tbutton:hover,
input[type="tbutton"]:hover,
.tbutton:focus,
tbutton:focus,
input[type="tbutton"]:focus {
  color: #777;
  border-color: #888;
  outline: 0;
}

tbutton,
.tbutton {
  margin-bottom: 1rem;
}

/* **** */

.wbutton,
wbutton,
input[type="wbutton"] {
  display: inline-block;
  height: 85px;
  /* height: 7vh; */
  /* height: 100px; */
  /* padding: 0 15px; */
  padding 10px 10px 1px 10px;
  /* width: 10vw; */
  width: 100px;
  color: #777;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  /* line-height: 38px; */
  line-height: 78px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.wbutton:hover,
wbutton:hover,
input[type="wbutton"]:hover,
.wbutton:focus,
wbutton:focus,
input[type="wbutton"]:focus {
  color: #777;
  border-color: #888;
  outline: 0;
}

wbutton,
.wbutton {
  /* margin-bottom: 1rem; */
}



