*~
tmp/
*.swp

*.o
*.so

.*

package.json
package-lock.json
node_modules

## exported files

*.gp
*.ngc
*.ps

## individual files

experiments/unft/src/irnd
experiments/unft/src/cas
experiments/unft/bin/irnd

node_modules



